<!DOCTYPE html>
<html lang="en">
<head>
    <title>create appointment</title>
</head>
<body>
    <a href="/show">Home</a> | <a href="/logout">Logout</a>
    <br><br><br>
    <form action="/update/{{app.id}}" method="POST"> 
        {% csrf_token %}
        <label>Tasks: <input type="text" name="task" value="{{app.task}}"></label>
        <label>Status: <select name="status" value="status">
            <option value="Done">Done</option>
            <option value="Pending">Pending</option>
            <option value="Missed">Missed</option>
        </select></label>
        <label>
            <input type="text" name="date" id="datepicker" value="{{app.date}}">
        </label>
        <label>Time:
            <select name="time" value="{{app.date}}">
                <option value="08:00">8:00AM</option>
                <option value="11:00">11:00PM</option>
                <option value="16:00">2:00PM</option>
                <option value="18:00">4:00PM</option>
            </select>
        </label>
        <input type="submit" value="Update">
    </form><br>
    {% for message in messages %}
    <li class="red">{{ message }}</li>
    <br> {% endfor %}
</body>
</html>