<!DOCTYPE html>
<html>
<head>
    <title>Login and Registration</title>
    
</head>

<body>
   <div class="container">
       <div>
           <h2>Register</h2>
           <form action="/users" method ="post">
            {%csrf_token %}
            <div>
                <label>Name:</label>
                <input type="text" name="name">
            </div>
            <div>
                <label>Email:</label>
                <input type="text" name="email">
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password">
            </div>
            <div>
                <label>Password Confirmation:</label>
                <input type="password" name="password_confirmation">
            </div>
           
            <div>
                <input type="submit" name="Register">
            </div>
            </form>
            {% if messages %}
                {% for message in messages%}
                  <p class="error"style="color:red">{{message}}</p>
                {% endfor%}

            {% endif %}
       </div>
       <div>
           <h2>Login</h2>
           <form action="/login" method="post">
            {%csrf_token %}
            <div>
                <label>Email:</label>
                <input type="text" name="email">
                <label>Password:</label>
                <input type="password" name="password">
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
       </div>
   </div>

    
</body>
</html>