<!Doctype html>
<html>
<head>
    <title>results page</title>
</head>
<body>
    <h2>Hello {{user.name}}!</h2>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
        {% endif %}
    <div class="container"> 
        <h3>Here are your appintments for today, {% now "jS F Y" %}:</h3>
        <table> 
        <thead>
            <tr>
                <th>Tasks</th>
                <th>Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        {% if not i.is_today %}
        {% for i in today %}
        <tbody>
            <tr>
                <td>{{i.task}}</td>
                <td>{{i.time}}</td>
                <td>{{i.status}}</td>
                <td><a href="/main/{{i.id}}">Edit</a> <a href="main/destroy/{{i.id}}"> Delete</a></td>
             </tr>
        </tbody>
        {% endfor %}
        {% endif %}}
        </table>

        <h3>Your Other Appointments:</h3>
        <table id="table">
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for i in later %}
                <tr>
                    <td>{{i.task}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.time}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Add Appintment</h3>
       
        
        <form action="/add" method="POST">
            {% csrf_token %}
            <label> Date: <input type="text" name="date" value=""></label>
            <label>Time:
                    <select name="time">
                            <option value="08:00">8:00AM</option>
                            <option value="11:00">11:00PM</option>
                            <option value="16:00">2:00PM</option>
                            <option value="18:00">4:00PM</option>
                    </select></label>
            <label> Task: <input type="text" name="task"></label>
            <input type="submit" value="Add">
        </form>
    </div>
            
     
 <form action='/logout'>
    {% csrf_token %}
        <button>Log Out</button>
    </form>
</body>
</html>